.category {
	.articles {
		width: 720px;
		margin: 0;
		float: left;

		img {
			width: 340px;
			height: auto;
		}

		.featured-img {
			border: 1px solid black;
			width: 338px;
			height: 255px;
			overflow: hidden;

			img {
				width: 338px;
				height: auto;
			}
		}

		article {
			width: 340px;
			margin: 0 10px;
			margin-bottom: 50px;

			> * {
				width: 340px;
				height: auto;
			}
		}
	}
}
