html {
  text-align: center;
  overflow-y: scroll;
	word-wrap: break-word;
} /* Mainly to make text-align: center an inherited trait for other stuff. */

body {
  width: 100%;
  margin: 0;
	padding: 0;
}

sidebar {
	display: inline;
	float: left;
	width: 220px;
}

sidebar section {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid grey;
	border-bottom-width: 2px;
}

sidebar section:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

sidebar img {
	width: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	left: calc(50% - 480px);
	width: 100%;
  padding: 2px 0px;
	background-color: #FFF;
  text-align: center;
  color: grey;
  z-index: 100;
}

footer > * {
	width: 470px;
	float: left;
	margin-bottom: 0;
}

footer > *:first-child {
	text-align: right;
	margin-right: 10px;
}

footer > *:last-child {
	text-align: left;
	margin-left: 10px;
}

footer a {
  color: inherit;
  height: auto;
  text-decoration: underline;
  cursor: pointer;
}

#logo {
  height: 120px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  text-align: left;
	font-family: "Droid Serif", serif;
}

#logo .title {
	letter-spacing:-.06em;
  height: 110px;
  margin-top: -20px;
  padding-top: 10px;
  color: green;
  font-size: 120px;
  line-height: 120px;
  overflow: hidden;
}

#logo .title small {
	letter-spacing: 0;
	color: black;
	font-size: 24px;
}

#logo .sub {
  font-variant: small-caps;
  font-style: normal;
  color: black;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  bottom: 3px;
}

.loader {
	opacity: 1;
	background: white url('ajax-loader.gif') no-repeat center center;
	width: 100%;
	height: 300px;
}

body > .loader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	height: 100%;
}

#mask {
  position: absolute;
  top: 237px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
	min-height: 100%;
  height: 1000px;
  overflow: hidden;
}

main {
  position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
  overflow: visible;
}

.noSpace{
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 0;
  line-height: 0;
  clear: both;
}

main > section {
	display: inline-block;
	width: 960px;
  white-space: normal;
  vertical-align: top;
}

ul, li {
  list-style: none;
  list-style-type: dash;
  display: inline;
  padding: 0px;
  margin: 0px;
}

a {
	cursor:pointer;
	color: green;
	text-decoration: none;
}

.navLink {
	cursor: pointer;
}

header nav {
	display: block;
	position: relative;
	float: left;
	padding: 3px 35px;
	margin-left: 0;
	margin-right: 0;
	width: 890px;
	opacity: 0.9;
  background-color: grey;
	text-align: justify;
  font-size: 20px;
	font-family: Helvetica;
  height: 35px;
  z-index: 100;
}

nav.fixed {
  position: fixed;
  top: 5px;
  left: calc(50% - 480px);
}

nav > ul {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 30px;
	white-space: nowrap;
}

nav li {
	list-style-type: none;
	display: inline;
	position: relative;
	z-index: 1
}

nav li ul {
	display: none;
	padding: 0 15px;
	padding-bottom: 5px;
	position: absolute;
	top: 0;
	left: -15px;
	border-top: 37px solid transparent;
  background-color: grey;
	z-index: -1;
	clear: both;
}

nav li:hover ul,
nav li ul:hover {
	display: block;
}

nav li ul li {
	display: block;
}

nav a {
	display: inline-block;
	color: white;
  cursor: pointer;
	z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

nav a:hover {
  color: lightgreen;
}

nav a.selected {
  cursor: default;
  color: lime;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

nav span {
	display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

.ticker {
	left: calc(50% - 480px);
	width: 930px;
	height: 22px;
	float: left;
	margin: 0 10px;
  background-color: lightgrey;
  color: grey;
  font-size: 15px;
  text-align: left;
  padding: 5px;
}

.ticker a {
	color: grey;
}

.category .articles {
	width: 700px;
	margin-left: 0 20px 0 10px;
	float: left;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-moz-column-rule: none;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-webkit-column-rule: none;
	column-count: 2;
	column-gap: 20px;
	column-rule: none;
}

.category .articles .featured-img {
	width: 340px;
	height: 255px;
	overflow: hidden;
}

.category .articles img {
	border: 1px solid black;
	width: 338px;
	height: auto;
}

.category article {
	display: inline-block;
	float: none;
	width: 340px;
	margin: 0;
	margin-bottom: 50px;
}

.category article * {
	width: 340px;
	height: auto;
}

.post article header h1 {
	font-size: 3em;
}

.post article header h2 {
	font-size: 1.5em;
}

article {
	float: left;
	width: 700px;
	margin: 0 20px 0 10px;
  text-align: left;
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  text-decoration: none;
	opacity: 1;
  color: black;
}

article header {
	margin-bottom: 20px;
}

article header h1 {
	color: black;
	margin-bottom: -4px;
}

article header h2 {
	font-family: Droid Sans, sans-serif;
	font-weight: normal;
	margin-bottom: 5px;
}

article p {
  text-align: justify;
}

.lineBreak {
  display: inline;
	float: left;
  height: 17px;
  width: 100%;
}

input.wepay-widget-input {
  width: 100% !important;
  margin: 0;
}

.navGrid {
  height: 480px;
  width: 900px;
	text-align: left;
	font-size: 0;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
}

.navGridCol {
	display: inline-block;
	width: 300px;
}

.navGridCell {
	position: relative;
	display: inline-block;
	height: 160px;
	width: 300px;
  overflow: hidden;
  background-color: white;
  color: white;
  font-size: 20px;
}

.navGridCell img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.navGridCell h2 {
	position: absolute;
	top: 0;
	opacity: 0;
	color: black;
	width: 100%;
	text-align: center;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.navGridCell.featured {
	width: 600px;
  height: 320px;
}

.navGridCell:hover img {
  opacity: 0.2;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.navGridCell:hover h2 {
	opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

[class*='icon'].social {
	display: inline-block;
	font-size: 20px;
	padding: 5px;
	margin: 0 5px;
	vertical-align: middle;
}

/* Wordpress CSS to make images display as expected */
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px 0;
}

.wp-caption-text {
	display: block;
	text-align: center;
	padding: 0 4px 5px;
	margin: 0;
}

img.alignright,
.wp-caption.alignright {
	float:right;
	margin:0 0 1em 1em;
}
img.alignleft,
.wp-caption.alignleft {
	float:left;
	margin:0 1em 1em 0;
}
.alignright {
	float:right;
}
.alignleft {
	float:left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
